body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/background.jpg") no-repeat center center fixed;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #994C10;

}

body::-webkit-scrollbar-thumb {
  background: #181911;
}